@charset "utf-8";

/* Custom Stylesheet */

/* fix import conpornent
-------------------------------------------------------- */

i.fa {
  line-height: inherit;
}

/* 参考: 色彩センスのいらない配色講座
http://www.slideshare.net/marippe/ss-9003317
base: 70%, main: 25%, accent: 5% */
/* http://www.materialpalette.com/deep-purple/lime */
$text-primary:   #212121;
$text-secondary: #727272;
$text-inverse:   #ffffff;

$color-base:          #fcfcfc;
$color-divider:       #b6b6b6;
$color-primary-dark:  #512da8;
$color-primary:       #673ab7;
$color-primary-light: #d1c4e9;
$color-accent:        #cddc39;

$side-nav-width: 240px;

body {
  background: $color-base;
  font-size: 15px;
}
body * {
  font-family: "游ゴシック","YuGothic","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","MS ゴシック",sans-serif;
  font-weight: normal;
}

header,
main,
footer {
  padding-left: $side-nav-width;
}

h1, h2, h3, h4, h5, h6,
p, a, i {
  /* スムージングで文字が太くなるのを無くしたい */
  -webkit-font-smoothing: antialiased;
}

/* for side-nav */
.side-nav {
  overflow: scroll;
}

.logo {
  background: $color-primary;
  border-bottom: 1px solid $color-divider
}
.logo:hover {
  background: $color-primary + #111 !important;
}
.logo a {
  text-align: center;
}
.logo img {
  margin-top: 1em;
}
.logo-title {
  margin: 0; padding: 0;
  font-size: 20px;
  font-weight: bold;
  color: $text-inverse;
}

.social {
  .container {
    width: 100%;
  }
  .row {
    padding: 13px 0;
    margin-bottom: 0;
  }
  .col {
    text-align: center;
  }
}
.social a {
  padding: 0 !important;

  :hover {
    color: $text-inverse !important;
  }
}

header {
  border-top: 5px solid $color-primary-dark;
}

main {
  .section {
    margin-bottom: 32px;

    a:hover {
      text-decoration: underline;
    }

    h3 {
      color: $color-primary;
      margin-bottom: 3.8rem;
      font-weight: bold;
    }

    h5 {
      margin-top: 1.8rem;
    }

    dl, ul {
      padding-left: 0.8rem;

      dt {
        font-weight: bold;
        margin-top: 0.7rem;
      }
      dd, li {
        margin-left: 0.8rem;
      }
    }
    dl.self-activity {
      dt {
        color: $text-secondary;
      }
    }
  }

  .profile-images {
    width: 100%;
    padding: 0;

    .col {
      padding: 1rem 0.4rem;
    }
  }


  .powered-wrapper {
    margin-top: 120px;

    .powered {
      background: $color-accent;
      max-width: 150px;
      padding: 1.7rem;
      font-size: 85%;

      a {
        font-weight: bold;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

footer.page-footer {
  background: $color-primary;
}
.page-footer {
  h5, p, a {
    color: $text-inverse;
  }
  a:hover {
    border-bottom: 1px dashed $text-inverse;
  }
}

/* for PC
-------------------------------------------------------- */
@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

/* for mobile
 -------------------------------------------------------- */
@media only screen and (max-width : 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.mobile-title {
  width: 100%;
  background: $color-primary;

  h1 {
    font-size: 42px;
    font-weight: bold;
    color: $text-inverse;
    margin-right: 3.5%;
  }
}

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  float: none;
  margin-left: 1.5rem;
  color: $color-accent;
  font-size: 32px;
  z-index: 2;
}
a.button-collapse.top-nav.full {
  line-height: 122px;
}
