---
title: tmd45.github.io sandbox
---

<h1 class="cover-heading">tmd45.github.io</h1>
<p class="lead">Middleman で簡単なページを作成してみました。bootstrap-sass を利用して Twitter Bootstrap も使用しています。</p>
<p class="lead">
  <a href="http://middlemanapp.com/jp/" class="btn btn-lg btn-default">meets Middleman</a>
</p>
