---
title: tmd45.github.io sandbox
---

<header class="container-fluid" style="padding:0;">
  <div class="row-fluid">
    <div class="span12">
      <div class="full-width hero-image">
        <img class="full-width loading" data-src="../images/hero.jpg" src="../images/hero.jpg" />
      </div>
    </div>
  </div>
</header>

<div class="container-fluid navbar-stick">
  <div class="navber-wrapper">

    <div class="container-fluid navbar-inner">
      <div class="home navbar" role="navigation">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="#">tmd45.github.io</a></h1>
          </div>

          <div class="collapse navbar-collapse navbar-right" id="nav-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#profile">Profile</a></li>
              <li><a href="#activity">Activity</a></li>
              <li><a href="#itentifications">Itentifications</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="home-content">
  <div class="container-fluid home-page darken">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <img data-src="../images/tmd45_icon.jpg" src="../images/tmd45_icon.jpg" class="img-responsive img-circle" />
        </div>
        <div class="col-md-9">
          <h1 class="cover-heading">Yoko TAMADA, @tmd45</h1>
          <p class="lead">Middleman でページ作成中。bootstrap-sass <i class="icon-twitter"></i> とかいろいろ組み合わせて使ってみているところ！なかなかナウい感じになってきたんじゃないですかね。</p>
          <p class="lead">
          <a href="http://middlemanapp.com/jp/" class="btn btn-lg btn-default">meets Middleman</a>
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid home-page" name="profile">
    <div class="container">
      <div class="row">

        <h3>Profile</h3>
        <p style="height:1060px;">　吾輩（わがはい）は猫である。名前はまだ無い。　どこで生れたかとんと見当（けんとう）がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪（どうあく）な種族であったそうだ。この書生というのは時々我々を捕（つかま）えて煮（に）て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌（てのひら）に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始（みはじめ）であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶（やかん）だ。その後（ご）猫にもだいぶ逢（あ）ったがこんな片輪（かたわ）には一度も出会（でく）わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙（けむり）を吹く。どうも咽（む）せぽくて実に弱った。これが人間の飲む煙草（たばこ）というものである事はようやくこの頃知った。</p>

      </div>
    </div>
  </div>
</div>
