---
title: tmd45.github.io
---

<header class="container-fluid" style="padding:0;">
  <div class="row-fluid">
    <div class="span12">
      <div class="full-width hero-image">
        <img class="full-width loading" data-src="../images/hero_cat.jpg" src="../images/hero_cat.jpg" />
      </div>
    </div>
  </div>
</header>

<div class="container-fluid navbar-stick">
  <div class="navber-wrapper">

    <div class="container-fluid navbar-inner">
      <div class="home navbar" role="navigation">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="#">tmd45.github.io</a></h1>
          </div>

          <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#profile">Profile</a></li>
              <li><a href="#activity">Activity</a></li>
              <li><a href="#itentifications">Itentifications</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="home-content">
  <div class="container-fluid home-page base">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <img data-src="../images/tmd45_icon.jpg" src="../images/tmd45_icon.jpg" class="img-responsive img-circle img-center" />
        </div>
        <div class="col-md-9">
          <h1 class="cover-heading">Yoko TAMADA, @tmd45</h1>
          <p class="lead">I'm a web engineer in Tokyo, Japan.</p>
          <p>Interested in web development, user experience, and design.</p>
          <p>I ♡ so many more interesting things.</p>
          <p class="social-link">
          <a href="https://github.com/tmd45" class="link-light" title="github" target="_blank"><i class="icon-github"></i></a>
          <a href="https://twitter.com/tmd45" class="link-light" title="twitter" target="_blank"><i class="icon-twitter"></i></a>
          <a href="https://www.facebook.com/tmd45" class="link-light" title="facebook" target="_blank"><i class="icon-facebook"></i></a>
          <a href="https://blog.tmd45.jp/" class="link-light" title="blog" target="_blank"><i class="icon-rss"></i></a>
          <a href="mailto:tmd45_at_otegami.jpn.org" class="link-light" title="mail"><i class="icon-mail"></i></a>
          </p>
          <p>
          <a href="https://tech.tmd45.jp/" class="link-light" title="tech blog." target="_blank"><i class="icon-rss"></i>public.</a>
          <a href="https://memo.tmd45.jp/" class="link-light" title="tech memo." target="_blank"><i class="icon-rss"></i>memo.</a>
          <a href="https://game.tmd45.jp/" class="link-light" title="game blog." target="_blank"><i class="icon-rss"></i>game.</a>
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid home-page" name="page-profile">
    <div class="container">
      <div class="row">

        <div class="col-md-9">
          <h4>Skills</h4>
          <dl>
            <dt>Programming Language</dt>
            <dd>Ruby, Java, and a little JavaScript, PHP.</dd>
            <dt>Frameworks</dt>
            <dd>Ruby on Rails. Struts1.x<span class="supersmall gray">(my god!)</span>, Spring, Hibernate in Java. FuelPHP in PHP.</dd>
            <dt>Markup Language</dt>
            <dd>HTML + CSS, Sass, Markdown, and Hatena Syntax.</dd>
            <dt>Systems</dt>
            <dd>Windows, Solaris, OS X, and Cent OS.</dd>
            <dt>Tools</dt>
            <dd>Vim, Eclipse, and Subversion, git.</dd>
          </dl>
        </div>
        <div class="col-md-3">
          <h4>Other Icons</h4>
          <div class="row">
            <div class="col-md-1">
              <img data-src="../images/tmd45_2010.jpg" src="../images/tmd45_2010.jpg" class="img-responsive img-circle img-center" />
            </div>
            <div class="col-md-1">
              <img data-src="../images/tmd45_2010.jpg" src="../images/tmd45_2010.jpg" class="img-responsive img-circle img-center" />
            </div>
            <div class="col-md-1">
              <img data-src="../images/tmd45_2010.jpg" src="../images/tmd45_2010.jpg" class="img-responsive img-circle img-center" />
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid home-page dark" id="page-activity">
    <div class="container">
      <div class="row">

        <h2>Activity</h2>
        <p>　吾輩（わがはい）は猫である。名前はまだ無い。　どこで生れたかとんと見当（けんとう）がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪（どうあく）な種族であったそうだ。この書生というのは時々我々を捕（つかま）えて煮（に）て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌（てのひら）に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始（みはじめ）であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶（やかん）だ。その後（ご）猫にもだいぶ逢（あ）ったがこんな片輪（かたわ）には一度も出会（でく）わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙（けむり）を吹く。どうも咽（む）せぽくて実に弱った。これが人間の飲む煙草（たばこ）というものである事はようやくこの頃知った。</p>

      </div>
    </div>
  </div>

  <div class="container-fluid home-page" id="page-itentification">
    <div class="container">
      <div class="row">

        <h2>Itentification</h2>
        <p style="height:600px;">　吾輩（わがはい）は猫である。名前はまだ無い。　どこで生れたかとんと見当（けんとう）がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪（どうあく）な種族であったそうだ。この書生というのは時々我々を捕（つかま）えて煮（に）て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌（てのひら）に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始（みはじめ）であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶（やかん）だ。その後（ご）猫にもだいぶ逢（あ）ったがこんな片輪（かたわ）には一度も出会（でく）わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙（けむり）を吹く。どうも咽（む）せぽくて実に弱った。これが人間の飲む煙草（たばこ）というものである事はようやくこの頃知った。</p>

      </div>
    </div>
  </div>
</div>
